*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #001e3c;
    padding: 20px;
    text-align: center;
    color: white;
}


.container{
    width: 90%;
    padding: 5%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.container .container_buttonsection{
    width: 100%;
    text-align: center;
}


.container .container_textsection{
    border: solid 1px #ccc;
    height: 200px;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    text-align: left;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    color: #555;
    border-radius: 5px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container .container_toobarsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.container .container_nosupportedSection{
    border: solid 1px rgba(200, 0, 0, .1);
    padding: 50px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    padding: 20px;
    text-align: center;
    color: #999;
}